<div class="skeleton-table">
    <div class="skeleton-header">
        <div class="skeleton-cell"></div>
        <div class="skeleton-cell"></div>
        <div class="skeleton-cell"></div>
        <div class="skeleton-cell"></div>
        <div class="skeleton-cell"></div>
    </div>
    <div class="skeleton-row" *ngFor="let i of [1,2,3,4,5]">
        <div class="skeleton-cell circle"></div>
        <div class="skeleton-cell"></div>
        <div class="skeleton-cell"></div>
        <div class="skeleton-cell"></div>
        <div class="skeleton-cell"></div>
    </div>
</div>