<div class="search-container">
    <app-input-search [placeholder]="'Buscar...'" [searchValue]="searchValue" />
    <app-button (click)="addRow()">Agregar</app-button>
</div>

<div class="my-2"></div>

<div *ngIf="!loadingData" class="table-container">
    <table class="responsive-table">
        <thead>
            <tr>
                <th class="text-wrap" [ngClass]="{'text-center': column.aligment === 'center'}" *ngFor="let column of columns">
                    {{ column.name }}
                    <span *ngIf="column.hasInfo" [title]="column.infoText"><i
                            class="fas fa-info-circle custom-icon"></i></span>
                </th>
                <th *ngIf="showActions"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of paginatedData">
                <td [ngClass]="{'text-center': column.aligment === 'center'}" class="column-data" *ngFor="let column of columns">
                    <ng-container *ngIf="column.type === 'text'">
                        {{ row[column.field] }}
                    </ng-container>
                    <ng-container *ngIf="column.type === 'date'">
                        {{ row[column.field] | date: 'dd/MM/yyyy' }}
                    </ng-container>
                    <ng-container *ngIf="column.type === 'number'">
                        {{ row[column.field] | number }}
                    </ng-container>
                    <ng-container *ngIf="column.type === 'boolean'">
                        {{ row[column.field] ? 'Sí' : 'No' }}
                    </ng-container>
                    <ng-container *ngIf="column.type === 'image'">
                        <img [src]="row[column.field]" alt="Imagen" class="image-cell">
                    </ng-container>
                </td>

                <td *ngIf="showActions" class="action-cell">
                    <div class="dropdown">
                        <app-button extraClasses="btn-ellipsis" (click)="toggleDropdown($event)">
                            <i class="fas fa-ellipsis-v"></i>
                        </app-button>
                        <ul class="dropdown-menu">
                            <li (click)="editRow(row)">Editar</li>
                            <li (click)="deleteRow(row)">Eliminar</li>
                        </ul>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="pagination">
    <span>{{ dataLength }} Resultados</span>
    <div>
        <app-button extraClasses="p-2 btn-default" [disabled]="currentPage === 1" (click)="previousPage()">
            <i class="fas fa-chevron-left"></i>
        </app-button>
        <span class="current-page">{{ currentPage }}</span>
        <app-button extraClasses="p-2 btn-default" [disabled]="currentPage === totalPages" (click)="nextPage()">
            <i class="fas fa-chevron-right"></i>
        </app-button>

        <select [(ngModel)]="defaultSize" (change)="changeSizeData()" class="select">
            <option *ngFor="let item of sizeData">{{ item }}</option>
        </select>
    </div>
</div>

<div *ngIf="loadingData">
    <app-skeleton-table></app-skeleton-table>
</div>