.form-container {
    background: var(--light-color);
    border-radius: 8px;
    max-width: 700px;
    margin: auto;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

.form-body {
    padding: 20px 34px;
    border-top: 1px solid var(--secondary-color);
}

.form-header {
    padding-top: 30px;
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    text-align: left;
}

@media screen and (max-width: 600px) {
    .form-grid {
        grid-template-columns: 1fr;
    }
    
}

.button-group {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
