<div>
    <app-basic-table
        [columns]="columns"
        [showAddButton]="true"
        [loadingData]="loadingData"
        [showActions]="true"
        [data]="data" 
        (onDelete)="deleteRow($event)"
        (onEdit)="editRow($event)"
        (onAdd)="addRow()"
    />
</div>

<app-base-modal
    [showModal]="showModal"
    (onClose)="cancelAction()"
    (onConfirm)="confirmAction()"
>
    <div>
        ¿Estas seguro de eliminar el producto <strong>{{ selectedRow?.name }}</strong>?
    </div>
</app-base-modal>